# exclude cache files and virtual environments
__pycache__
venv
.vscode

# exclude executables and make files
*.o
lbm_sim
build

# exclude data files
*.csv
*.vti
sim_output/*.txt

# exclude previous fortran source code
*.f90
