# exclude cache files and virtual environments
__pycache__
venv
.vscode

# exclude executables and make files
*.o
lbm_sim
build

# exclude data files and post-processed animations
*.csv
*.vti
sim_output/*.txt
*.gif

# exclude previous fortran source code
*.f90
